.site-section {
    width: 100%;
    background: rgba(0, 0, 0, 1);
    min-height: 400px;

}

.section-title {
    max-width: 1050px;
    margin: 0 auto;
    padding: 50px 50px 100px;
    text-align: center;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 1);
}

.section-container {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 1);

}

.section-container__title {
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;


}

.section-container__desc {
    text-align: center;
    font-size: 0.75rem;
}

.section-row__thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 20px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.logos-section {
    width: 100%;
    padding: 20px;
    background-color: #F9FAFA;
}

.logos-container {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.theme-section {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

.theme-section__article h2 {
    color: #243131;
    text-align: left;
    font-size: 1.5em;
    padding: 50px;

}

.theme-section__article p {
    padding-right: 50px;
    font-size: 0.9rem;
}

.theme-section__img {
    margin-left: 100px;

}