.site-header {
    width: 100%;
    min-height: auto;
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));


}

.header-container {
    margin: 0 auto;
    padding: 50px;
    max-width: 1050px;
    display: flex;
    justify-content: space-between;


}


.header-nav__list {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
}

.header-nav__list a {
    text-decoration: none;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin: 0 10px;
    padding: 0 10px;
}

.header-container2 {
    margin: 0 auto;
    padding: 50px;
    max-width: 1050px;
    display: flex;
    justify-content: space-between;



}

.header-heading span {
    font-size: 1.5em;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}

.header-paragraph {
    line-height: 25px;
    padding-top: 20px;
    color: rgba(255, 255, 255, 1);

}

.site-btn {
    border-radius: 10px;
    border: none;
    margin: 30px 0;
    padding: 0 40px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    height: 40px;
    background: #34eb34;
    cursor: pointer;

}

.header-row1 {
    margin-right: 10px;
}

.header-row2 {
    margin: 0 20px 0 50px;
    padding: 0 0 100px 50px;


}

.header__image-rotate {
    transform: rotate(-5deg);
    border-radius: 20px;
    border: 10px solid white;
}